:root {
    --global-heading-color: #e2b45f;
    --global-background-color: #222323;
    --global-paragraph-color: #efeee9;
    --global-parchment-background-color: #fffef0;
    --global-parchment-color: #444;
}
